.button {
  padding: 8px;
  border-radius: var(--border-radius);
  outline: none;
  transition: 0.4s;
  width: 100%;
  cursor: pointer;
}

.button[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}

.primary {
  background-color: var(--primary-color);
  outline: none;
  border: 1px solid var(--tertiary-color);
  color: var(--secondary-color);

  &:hover {
    background-color: var(--primary-hover);
  }
}
.secondary {
  background-color: var(--secondary-color);
  outline: none;
  border: 1px solid var(--tertiary-color);

  &:hover {
    background-color: var(--secondary-hover);
  }
}
.dashed {
  background-color: var(--primary-radius);
  outline: none;
  border: 1px dashed var(--tertiary-color);

  &:hover {
    border: 1px dashed var(--primary-hover);
  }
}
.danger {
  background-color: #e67c7c;
  outline: none;
  border: 1px solid var(--tertiary-color);
  color: var(--secondary-color);

  &:hover {
    background-color: #a33b3b;
  }
}

.loading {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  color: #aaa;
  opacity: 0.8;
}
