.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin-top: 20px;
}

.content {
  width: 100%;
}

.content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.content header h1 {
  flex: 2;
}
