.input {
  padding: 8px;
  border-radius: var(--border-radius);
  outline: none;
  border: 1px solid var(--tertiary-color);
  transition: 0.4s;
  width: 100%;

  &:focus {
    border: 1px solid var(--primary-color);
  }
}

.upload_file_list {
  display: flex;
  gap: 4px;
  flex-direction: column;
  margin-top: 8px;
}

.upload_file {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--tertiary-color);
  transition: 0.5s;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.remove_button {
  color: #797878;
  padding: 4px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}

.upload_file img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
}
