@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #534377;
  --secondary-color: #e2e2e2;
  --tertiary-color: #c9c9c9;
  --quartiary-color: #f1bbff;
  --border-radius: 4px;

  --primary-hover: #463866;
  --secondary-hover: #d4d4d4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

input,
button {
  font-family: "Montserrat", sans-serif !important;
}

::-webkit-scrollbar-thumb {
  background-color: #53437780;
  border-radius: 12px;
  width: 3px;
  border: 4px solid #fff;
}

::-webkit-scrollbar {
  width: 15px;
}
