.div {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background: #f3f3f3;
}

.div header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 4px;
  border-bottom: 1px solid #e0e0e0;
}

.tags {
  display: flex;
  gap: 8px;
}
